# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
_dcu/
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
*.ddp

# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
*.vlb

# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
#*.deployproj

# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.dex
*.otares
*.dres

# LOG
*.log

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# CloudMailRu
/FSPLUGIN.HLP
/fspluginhelp2.1se.zip
/MailRuCloud.ini
/Example.res
/Example.dproj
/ExampleApp.pas
/ExampleApp.dfm
/Example.dpr
/Win32
/ModelSupport_MailRuCloud
/MailRuCloud.dproj
/experiments
/MailRuCloud.dres
/MailRuCloud.res
/auth.page_files
/auth.page.htm
/dump.txt
/MailRuCloud.global.ini
/CloudMailRu.zip
/pluginst.inf
/debug.json
/Cloud.groupproj
